p A spreadsheet program, like Excel, acts as both a datastore (think of it like a simple database), and an interface for “interviewing” the data. The available options all have their pros and cons. These are some of the differences that matter most to data journalists.
dl
  dt Excel
  dd
    ul
      li Has the most powerful pivot table features
      li Good performance on large sheets, when used with the #[a(href="https://support.office.com/en-us/article/Power-Pivot-Add-in-A9C2C6E2-CC49-4976-A7D7-40896795D045") Power Pivot] add-in

  dt Google Sheets
  dd
    ul
      li Allows you to do collaborative research
      li Does web scraping
      li User friendly interface
      li Free

  dt OpenOffice/LibreOffice
  dd
    ul
      li Good for importing/exporting file formats
      li Free

  dt NeoOffice
  dd This is basically just LibreOffice for MacOS, with some extra integration to other Apple services.

  dt Python + Pandas
  dd If you know a bit of programming, Python with the Pandas library can replace a spreadsheet program.
    ul
      li Reusable analysis
      li Transparent analysis
      li Works on large datasets

  p It is worth having more than one of these tools in your toolbox, e.g. using Google Sheets when working together, LibreOffice when importing esoteric file formats or encodings, and Excel when analyzing data on your own.
  p While Google Sheets is both poweful and easy to use, remember that it is a cloud service. You do not control the servers. Be careful not to upload sensitive data.

