div.spreadsheet {
    border: 1px solid gray;
    padding: 2px;
    overflow: hidden;
}

div.spreadsheet:focus{
    outline: 2px solid darkgreen;
}

.spreadsheet .table, .spreadsheet table {
    display:table;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid darkgray;
    width: 100%;
    border-collapse: collapse;
}
.spreadsheet .thead{
    display:table-header-group;
}
.spreadsheet .tbody {
    display:table-row-group;
}
.spreadsheet .tr {
    display:table-row;
}

.spreadsheet .td, .spreadsheet .th {
    display:table-cell;
    border: 1px solid lightgray;
    padding: 2px 4px;
    margin: 0;
    background-color:white;
}
.spreadsheet .td.highlight {
    background-color: cornsilk;
}
.spreadsheet .td.number {
    text-align:right;
}
.spreadsheet .td.boolean, .spreadsheet .td.error {
    text-align:center;
}
.spreadsheet .td.active {
    outline: 2px solid darkgreen;
    cursor: default;
}
.spreadsheet .td.open {
    outline: none;
    cursor: text;
    overflow: visible;
}
.spreadsheet .formulaTooltip{
    border: none;
    padding: 2px 4px;
    display: block;
    z-index: 99;
    position: absolute;
    background-color: white;
    outline: 2px solid darkgreen;
    cursor:text;
}
.spreadsheet .tr:first-child .td {
    font-weight: bold;
}

.spreadsheet .th:first-child {
    width:2em;
}

.spreadsheet .th {
    background-color: whitesmoke;
    text-align: center;
    border-color: darkgray;
    padding: 1px 3px;
    font-weight:100;
}

.spreadsheet form.formula{
    width:100%;
    position:relative;
    margin:0;padding:0;
    height:22px;
}
.spreadsheet form.formula span.topleft {
    display: inline-block;
    position: absolute;
    left: 0;
    height:22px;
    width: 2em;
    border-right: 1px solid gray;
    z-index: 4;
    background-color: white;
    text-align: right;
    padding-right: 5px;
}
.spreadsheet form.formula input.formula {
    display: inline-block;
    position: absolute;
    text-align: left;
    background-color: white;
    border: none;
    height: 22px; 
    font-size: 14px;
    width: 100%;
    padding-left: 3em;
    cursor:text;
}

.selected {
    background-color: lightgray !important;
    color: darkgreen;
    border-bottom: 3px solid darkgreen !important;
}
.bad .diagonal-one {
    transform-origin: right;
    transform: rotateZ(30deg);
}
.bad .diagonal-two {
    transform-origin: left;
    transform: rotateZ(-30deg);
}
.bad .diagonal {
    height: 2px;
    background-color: red;
}
