body, html, p {
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
}
h1 {
  text-align: center;
  font-size: 2.6em;
    @media (max-width: 768px) {
        font-size: 1.9em;
    }
}
h2 {
    font-size: 1.9em;
    @media (max-width: 768px) {
        font-size: 1.35em;
    }
}
h3 {
    font-size: 1.4em;
    @media (max-width: 768px) {
        font-size: 1.1em;
    }
}
figcaption {
  font-size: 85%;
  font-style: italic;
}
code.formula{
  font-size:110%;
  color:green;
  background-color:#f5f5f5;
}

/* Avoid section h3's to be hidden below navbar */
section {
    padding-top: 60px;
    margin-top: -60px;
}

@font-face {
  font-family: 'thenmap-icon';
  src:url('//static.jplusplus.se/iconfonts/thenmap.eot?jj7e03');
  src:url('//static.jplusplus.se/iconfonts/thenmap.eot?#iefixjj7e03') format('embedded-opentype'),
    url('//static.jplusplus.se/iconfonts/thenmap.ttf?jj7e03') format('truetype'),
    url('//static.jplusplus.se/iconfonts/thenmap.woff?jj7e03') format('woff'),
    url('//static.jplusplus.se/iconfonts/thenmap.svg?jj7e03#thnmp') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont{
  font-family: "thenmap-icon";
}

.jpluspluslogo{
  font-family: "thenmap-icon";
    position:relative;
    margin:0 2em 0 1em;
    font-size: 1.5em;
    vertical-align: middle;
}
.jpluspluslogo > span {position:absolute;left:0;color:#d2a2f7;}
.jpluspluslogo > span:first-child {color:#3ad0d0;}
.jpluspluslogo > span:last-child {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}

x-cell, cell {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    font-size: 105%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
