doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width")
    block head
    link(rel='stylesheet', href='/css/style.css')
    script.
      document.documentElement.className += ' js'

  body
    block content

