doctype html
html(lang=lang).no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width")
    block head
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js")
    script.
      document.documentElement.className = 'js'

  body
    div.container
      block content
    footer.container
      p 
        span.jpluspluslogo(title="Journalism++", aria-label="J++")
          span j
          span +
          span +
        span By #[a(target="_parent", href='http://jplusplus.se')  Journalism++ Stockholm].

  script(src="/js/main.js")
