extends layout

block head
  title The Ultimate Spreadsheet Guide
  link(rel="stylesheet", href="/css/spreadsheet.css")

block content
  h1 Test bed for spreadsheets
  table#spreadsheet
    tr
      th
      th(scope="col") A
      th(scope="col") B
    tr
      th(scope="row") 1
      td content
      td content
    tr
      th(scope="row") 2
      td content
      td content
