#spreadsheet {
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid darkgray;
    width: 100%;
    border-collapse: collapse;
}

#spreadsheet td, #spreadsheet th {
    border: 1px solid lightgray;
    padding: 2px 4px;
    margin: 0;
}
#spreadsheet td.active {
    outline: 2px solid darkgreen;
    cursor: default;
}

#spreadsheet th:first-child {
    width:2em;
}

#spreadsheet th {
    background-color: whitesmoke;
    text-align: center;
    border-color: darkgray;
    padding: 1px 3px;
    font-weight:100;
}

input#spreadsheet {
    text-align: right;
    border: none;
    height: 22px;
    font-size: 14px;
}

.selected {
    background-color: lightgray !important;
    color: darkgreen;
    border-bottom: 3px solid darkgreen !important;
}
